@media (max-width: 1399px)/*max-widthが最大幅、min-widthは最小幅*/
{


html{
  height:100%;
  width:100%;
}

body{
  font-family: 'Bangers', cursive;
  font-family: "メイリオ,meiryo";
  width:102%;
  background-color: lavender;
  width: 100%;
  height: 100%;
}

}

li{
  list-style: none;
}

main{
  height:100%;
  width:100%;
}


/*********************************************一番上のヘッダー部分****************************************/
.gl-Header{
  justify-content: space-between;
  align-items: center;
  background-color:#ffe0ef;
  height: 125px;
  width: 100%;
  margin-left: -7px;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header-subtitle{
  font-family: monospace;
}


/*************************************************ヘッダーロゴ*******************************************/
.Header-Logo{
  margin-top: -223px;
  margin-left: 75px;
  width: 31rem;
  z-index: -11;
  position:absolute;
}

.header-title h3{
  height: 75px;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  margin-top: -160px;
  margin-left: 340px;
  margin-bottom: 65px;
}

/*******************************************ヘッダー画像の装飾********************************************/
.header-subtitle{
  height: 58px;
  background-color: snow;
  font-size: 38px;
  color: dimgrey;
  font-weight: bold;
  text-align: center;
  margin-top: 125px;

}

.edit{
  float: right;
  margin-top: 47px;
  padding-right: 50px;
  display: flex;
}

.images{
  text-align: center;
}

.img1{
    border-radius: 50%;
    border: 1px solid grey;
    margin-bottom: 5%;
    margin-top: 5%;
}

.item{
  font-size: 45px;
  text-align: center;
}
/*********************************************main部分******************************************************/
.delete-wrap{
  width:100%;
  padding-top: 15rem;
  text-align: center;
}

a.top_back{
margin: 0 auto;
}



/********************************************Footer部分**************************************************/
.FooterSection {
  background: #2f2e2e;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: -8px;
}
.Footer-Inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}
.Footer-Inner-Logo {
  margin-left: auto;
  margin-right: auto;
  width: 64px;
}
.Footer-Inner-List {
  margin-left: 10%;
  width: 100%;
  max-width: 85%;
  display: flex;
  justify-content: space-between;

}
@media screen and (max-width: 540px) {
  .Footer-Inner-List {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.Footer-Inner-List-Item {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  color: white;
  text-align: center;
  font-size: 15px;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item {
    margin-right: 0;
    padding-left: 0;
    width: 100%;
  }
}
.Footer-Inner-List-Item:not(:first-child) {
  border-left: 1px solid #fff;
  margin-left: 80px;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item:not(:first-child) {
    border-left: none;
    margin-top: 20px;
  }
}
.Footer-Inner-CopyRight {
  text-align: center;
  color: #fff;
  font-size: 10px;
}
