html{
  height:100%;
  width:100%;
}

body{
  font-family: 'Bangers', cursive;
  font-family: "メイリオ,meiryo";
  width:100%;
  background-color: lavender;
}

ul{
  text-align: center;
}

li{
  float: left;
  list-style: none;
  font-size: 25px;
  margin-left: 230px;
}

a{
  padding-top: 130px;
  color:#fff;
  text-decoration: none;
}

img{
  margin-top: 0rem;
}

h3{
  color:darkslategrey;
  font-size: 30px;
}


/*ヘッダー*/
.gl-Header{
  justify-content: space-between;
  align-items: center;
  background-color:#ffe0ef;
  height: 125px;
  width: 100%;
  margin-left: -7px;
  position: fixed;
  top: 0;
  z-index: 10;
}


/*ヘッダーロゴ*/
.Header-Logo{
  margin-top: -13rem;
  margin-left: 4rem;
  width: 30rem;
}


.history-wrapper{
  text-align: center;
}

.heading{
  color:dimgray;
  margin-top: 126px;
  background-color: snow;
  font-size: 20px;
}

.prof{
  margin-top: 50px;
}
.message-wrapper{
  border-bottom:1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.partner-text{
  color:darkslategrey;
  max-width: 70%;
  font-size: 20px;
  margin: auto;
  margin-bottom: 7rem;
}

.prof-img{
  height: 25rem;
  width:38%;
  border: 1px solid grey;
}


/*Footer*/
footer{
  background: #2f2e2e;
  height: 7rem;
  width: 100%;
}
.Footer-Inner-List {
text-align: center;
padding-top: 1rem;
}

.Footer-Inner-List-Item {
  color: #fff;
  font-size: 23px;
  font-weight: bold;
  margin: 3rem;;
}

.Footer-Inner-CopyRight {
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
