@media (max-width: 1399px)/*max-widthが最大幅、min-widthは最小幅*/
{

html{
  height:100%;
  width:100%;
}

body{
  font-family: 'Bangers', cursive;
  font-family: "メイリオ,meiryo";
  width:100%;
  background-color: lavender;
}

h3{
  margin-left: 11rem;
}
p{
  margin-left: 12rem;
}

/*一番上のヘッダー部分*/
.gl-Header{
  justify-content: space-between;
  align-items: center;
  background-color:#ffe0ef;
  height: 125px;
  width: 100%;
  margin-left: -7px;
  position: fixed;
  top: 0;
  z-index: 10;
}


/*ヘッダーロゴ*/
.Header-Logo{
  margin-top: -183px;
  margin-left: 75px;
  width: 27rem;
}


.history-wrapper{
  text-align: center;
  height:100%;
}

.heading{
  color: #111;
  margin-top: 125px;
  background-color: snow;
}

.container{
height: 190rem;
background-color: lavender;
}

.prof{
  float: left;
  padding-left: 22px;
  margin-top: 50px;
  color: darkslategrey;
}

.user{
  position: relative;
}

.message-wrapper{
  border-bottom:1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}


ul{
  text-align: center;
}


li{
  float: left;
  list-style: none;
  font-size: 25px;
  margin-left: 230px;
}

a{
  padding-top: 130px;
  color:#fff;
}

.prof-img{
  height: 26rem;
  border-radius: 50%;
  width: 27rem;
  margin-left: 11rem;
  border: 1px solid lightslategray;
}

/*Footer部分のお問い合わせ*/
footer{
  background: #2f2e2e;
  height: 7rem;
  display: inline-flex;
  width: 100%;
  margin-top: 10rem;
}
.FooterSection {
padding-top: 15px;
}
.Footer-Inner {
  margin-left: auto;
  margin-right: auto;
  background-color: #111;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.Footer-Inner-Logo {
  margin-left: auto;
  margin-right: auto;
  width: 64px;
}
.Footer-Inner-List {
  margin-top: 20px;
  margin-left: 405px;
  width: 100%;
  max-width: 496px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 540px) {
  .Footer-Inner-List {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.Footer-Inner-List-Item {
  text-align: center;
  color: #fff;
  font-size: 20px;
  margin-top: 0rem;
  padding-top: 0rem;
  font-weight: bold;
  margin-left: -60%;
}


@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item {
    margin-right: 0;
    padding-left: 0;
    width: 100%;
  }
}
.Footer-Inner-List-Item:not(:first-child) {
  border-left: 1px solid #fff;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item:not(:first-child) {
    border-left: none;
    margin-top: 20px;
  }
}
.Footer-Inner-CopyRight {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
}