html{
  height:100%;
  width:100%;
}
body{
  font-family: 'Bangers', cursive;
  font-family: "メイリオ,meiryo";
  width:100%;
  background-color: lavender;
}
ul{
  text-align: center;
}
li{
  float: left;
  list-style: none;
  font-size: 25px;
  margin-left: 230px;
}
a{
  padding-top: 1rem;
  margin: 1rem;
  color:#111;
  text-decoration: none;
  margin-left: 5rem;
}
p{
  font-size: 25px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 35px;
}

/*一番上のヘッダー部分*/
.gl-Header{
  justify-content: space-between;
  align-items: center;
  background-color:#ffe0ef;
  height: 125px;
  width: 100%;
  margin-left: -7px;
  position: fixed;
  top: 0;
  z-index: 10;
}


/*ヘッダーロゴ*/
.Header-Logo{
  margin-top: -183px;
  margin-left: 75px;
  width: 27rem;
}


.history-wrapper{
  text-align: center;
  height:100%;
}

.heading{
  color: #111;
  margin-top: 93px;
  background-color: snow;
}

.container{
background-color: lavender;
}

.prof{
  margin-top: 50px;
  color: darkslategrey;
}

.user{
  position: relative;
}

.message-wrapper{
  padding-bottom: 80px;
  text-align: center;
}



.prof-img{
  width: 50%;
  border: 1px solid lightslategray;
}

/*Footer*/
footer{
  height: 7rem;
  display: inline-flex;
  width: 100%;
  margin-top: 10rem;
}
.FooterSection {
padding-top: 15px;
}
.Footer-Inner {
  background-color: #111;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.Footer-Inner-Logo {
  margin-left: auto;
  margin-right: auto;
  width: 64px;
}
.Footer-Inner-List {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: monospace;
  margin-left: -2rem;
}
a.Footer-Inner-List-Item{
  padding-top: 1rem;
  margin: 1rem;
  color:#fff;
  margin-left: 5rem;
}

.Footer-Inner-CopyRight {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 15px;
}
